html, body{
	font-size:12px;
	color:#000;
	font-family: 'Magra',"Trebuchet MS",Trebuchet,Verdana,Helvetica,Arial,sans-serif;
	height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: #fff;
}

body{
	text-align: center;
	padding-top:50px;
}


input,button{
	font-size: 1.6em;
	width:300px;
	padding:10px;
	margin:10px;
	text-align: center;
}

button{
	cursor: pointer;
}

div#result{
	margin:10px;
	font-size: 2em;
	text-transform: capitalize;
}